In [1]:
import pandas as pd

In [79]:
# Load two files into pandas DataFrames

df_users = pd.read_csv('takehome_users.csv', encoding='latin1')
df_user_engagement = pd.read_csv('takehome_user_engagement.csv', encoding='latin1', parse_dates=['time_stamp'])

In [8]:
print(df_users.head())

   object_id        creation_time               name  \
0          1  2014-04-22 03:53:30     Clausen August
1          2  2013-11-15 03:45:04      Poole Matthew
2          3  2013-03-19 23:14:52  Bottrill Mitchell
3          4  2013-05-21 08:09:28    Clausen Nicklas
4          5  2013-01-17 10:14:20          Raw Grace

                        email creation_source  last_session_creation_time  \
0    AugustCClausen@yahoo.com    GUEST_INVITE                1.398139e+09
1      MatthewPoole@gustr.com      ORG_INVITE                1.396238e+09
2  MitchellBottrill@gustr.com      ORG_INVITE                1.363735e+09
3   NicklasSClausen@yahoo.com    GUEST_INVITE                1.369210e+09
4          GraceRaw@yahoo.com    GUEST_INVITE                1.358850e+09

   opted_in_to_mailing_list  enabled_for_marketing_drip  org_id  \
0                         1                           0      11
1                         0                           0       1
2                         0                           0      94
3                         0                           0       1
4                         0                           0     193

   invited_by_user_id
0             10803.0
1               316.0
2              1525.0
3              5151.0
4              5240.0

In [90]:
df_user_engagement = df_user_engagement.sort_values(by = ['user_id', 'time_stamp'])

In [93]:
df_user_engagement

                time_stamp  user_id  visited
0      2014-04-22 03:53:30        1        1
1      2013-11-15 03:45:04        2        1
2      2013-11-29 03:45:04        2        1
3      2013-12-09 03:45:04        2        1
4      2013-12-25 03:45:04        2        1
5      2013-12-31 03:45:04        2        1
6      2014-01-08 03:45:04        2        1
7      2014-02-03 03:45:04        2        1
8      2014-02-08 03:45:04        2        1
9      2014-02-09 03:45:04        2        1
10     2014-02-13 03:45:04        2        1
11     2014-02-16 03:45:04        2        1
12     2014-03-09 03:45:04        2        1
13     2014-03-13 03:45:04        2        1
14     2014-03-31 03:45:04        2        1
15     2013-03-19 23:14:52        3        1
16     2013-05-22 08:09:28        4        1
17     2013-01-22 10:14:20        5        1
18     2013-12-19 03:37:06        6        1
19     2012-12-20 13:24:32        7        1
20     2013-01-16 22:08:03       10        1
21     2013-01-22 22:08:03       10        1
22     2013-01-30 22:08:03       10        1
23     2013-02-04 22:08:03       10        1
24     2013-02-06 22:08:03       10        1
25     2013-02-14 22:08:03       10        1
26     2013-02-17 22:08:03       10        1
27     2013-02-19 22:08:03       10        1
28     2013-02-26 22:08:03       10        1
29     2013-03-01 22:08:03       10        1
...                    ...      ...      ...
207887 2014-04-28 11:04:47    11988        1
207888 2014-04-29 11:04:47    11988        1
207889 2014-04-30 11:04:47    11988        1
207890 2014-05-04 11:04:47    11988        1
207891 2014-05-08 11:04:47    11988        1
207892 2014-05-14 11:04:47    11988        1
207893 2014-05-17 11:04:47    11988        1
207894 2014-05-18 11:04:47    11988        1
207895 2014-05-19 11:04:47    11988        1
207896 2014-05-20 11:04:47    11988        1
207897 2014-05-21 11:04:47    11988        1
207898 2014-05-23 11:04:47    11988        1
207899 2014-05-24 11:04:47    11988        1
207900 2014-05-26 11:04:47    11988        1
207901 2014-05-27 11:04:47    11988        1
207902 2014-06-01 11:04:47    11988        1
207903 2013-09-07 11:24:33    11989        1
207904 2013-07-06 21:00:48    11990        1
207905 2014-04-20 14:22:45    11991        1
207906 2014-04-25 14:22:45    11991        1
207907 2014-04-28 14:22:45    11991        1
207908 2014-05-17 14:22:45    11991        1
207909 2014-05-30 14:22:45    11991        1
207910 2014-04-11 19:39:56    11992        1
207911 2013-10-22 13:33:17    11995        1
207912 2013-09-06 06:14:15    11996        1
207913 2013-01-15 18:28:37    11997        1
207914 2014-04-27 12:45:16    11998        1
207915 2012-06-02 11:55:59    11999        1
207916 2014-01-26 08:57:12    12000        1

[207917 rows x 3 columns]

606